@charset "utf-8";
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color:#fff;
}

/* 1. 헤더 영역 */
header{
	position:fixed;
	z-index: 1;
	background-color: #fff;
	display: flex;
	width: 100%;
	height: 0;
	animation: headsl 1s 3s ease-in forwards;
	border-bottom: solid 1px #000;
}
header .inner{
	max-width: 1300px;
	width: 100%;
	margin: 0px auto;
	position: relative;
}
header .inner a{
	color:#000;
}
header .inner h1{
	position: absolute;
	left: 25px;
	bottom:20px;
}
header .inner h1 img{
	width:100%;
}
header .inner .gnb {
	position: absolute;
	bottom: 0px;
	left: 30%;
	display: flex;
}
header .inner .gnb li{
	padding: 0 10px;
}
header .inner .gnb li a{
	position: relative;
	display: block;
	font: bold 15px "arial";
	line-height: 40px;
}
header .inner .gnb li a:hover::after{
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	bottom: 0;
	border-bottom:solid 3px #5e2bb8;
}
@keyframes headsl{
	to{
		height: 80px;
	}
}
header .inner .sns{
	position: absolute;
	right: 0;
	bottom: 50px;
}
header .inner .sns a{
	width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    line-height: 16px;
    cursor: pointer;
    margin-right: 17px;
}
header .inner .sns a .ir{
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
  }
/* 유튜브 아이콘 조정 */
header .inner .sns a.fi-youtube-play{
    font-size: 11px;
}
/* 유튜브 가상요소 세부조정 */
header .inner .sns a.fi-youtube-play::before{
    transform: scaleY(1.2);
    display: inline-block;
}

/* 4. 모바일 메뉴 */
header .inner .mobtn{
	display: none;
}
#mobx{
	display: none;
}



@media screen and (max-width: 800px) {
	/* 1. 헤더 영역 */
	header .inner h1 {
		left: 50%;
		transform: translateX(-50%);
	}
	header .inner .gnb,
    header .inner .sns{
		display: none;
    }

	/* 4. 모바일 메뉴 */
	header .inner .mobtn{
		position: absolute;
		left: 30px;
		bottom: 25px;
		display: block;
		font-size: 30px;
		cursor: pointer;
	}
	#mobx{
		position: fixed;
		min-width: 0;
		width: 0px;
		bottom: 0px;
		height: calc(100% - 80px);
		padding: 20px 0 0;
		border-right: solid 1px #000;
		border-top: solid 1px #000;
		border-radius: 0 10px 10px 0;
		background-color: #fff;
		z-index: 2;
	}
	#mobx a{
		color: #000;
	}
	#mobx a:hover{
		color: #5e2bb8;
	}
	#mobx ul li a{
		display: none;
		opacity: 0;
		margin-left: 20px;
		font-family: 'Jua', sans-serif;
		font-size: 25px;
		font-weight: 300;
		line-height: 2;
	}
	#mobx .mosns{
		position: absolute;
		text-align: center;
		bottom: 50px;
	}
	#mobx .mosns a{
		font-size: 15px;
		text-align: center;
		vertical-align: top;
		line-height: 15px;
		cursor: pointer;
		margin-left: 20px;
	}
	#mobx .mosns a .ir{
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
	}
	/* 유튜브 아이콘 조정 */
	#mobx .mosns a.fi-youtube-play{
		transform: translateY(0.25px);
		font-size: 12px;
	}
	/* 유튜브 가상요소 세부조정 */
	#mobx .mosns a.fi-youtube-play::before{
		transform: scaleY(1.2);
		display: inline-block;
	}
}