@charset "utf-8";

@import url(reset.css);

body{
  padding: 50px;
}
.page_tit{
  font-size: 50px;
  margin-bottom: 100px;
  font-weight: bold;
}
.portfolio_wrap{
  display: flex;
}

.sec_tit{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.first_wrap{
  flex: 1.1;
}
.first_wrap .profile{
  margin-bottom: 40px;
}
.first_wrap .profile .name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.first_wrap .profile table{
  height: 80px;
}
.first_wrap .profile table tr{
}
.first_wrap .profile table tr th{
  text-align: left;
}
.first_wrap .profile table tr td{
  padding-left: 20px;
}

.first_wrap .skill{

}
.first_wrap .skill .graph_wrap{
  width: 100%;
  margin-bottom: 15px;
}
.first_wrap .skill .graph_wrap p{
  padding: 0 0 5px 5px;
  color: #888;
}
.first_wrap .skill .graph_wrap .graph{
  border-radius: 20px;
  background: #c1c1c1;
  width: 100%;
  height: 30px;
}
.first_wrap .skill .graph_wrap .graph span{
  display: inline-block;
  height: 30px;
  background-color: blue;
  border-radius: 20px;
  text-align: left;
  line-height: 28px;
  padding-left: 10px;
}
.second_wrap{
  flex: 0.9;
  margin-left: 100px;
}