@charset "utf-8";

@import url(reset.css);

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: 'NanumSquareNeo-Variable';
  padding: 50px;
  background-color: #f9deaf;
}
.page_tit{
  font-size: 48px;
  margin-bottom: 100px;
  font-weight: bold;
  color: #c41428;
}
.portfolio_wrap{
  display: flex;
}

.sec_tit{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #c41428;
}

.first_wrap{
  flex: 1.1;
}
.first_wrap .profile{
  margin-bottom: 40px;
}
.first_wrap .profile .name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.first_wrap .profile table{
  height: 80px;
  font-size: 16px;
}
.first_wrap .profile table tr{
}
.first_wrap .profile table tr th{
  text-align: left;
}
.first_wrap .profile table tr td{
  padding-left: 20px;
}

.first_wrap .skill .graph_wrap{
  width: 100%;
  margin-bottom: 15px;
}
.first_wrap .skill .graph_wrap p{
  padding: 0 0 5px 5px;
  font-size: 16px;
}
.first_wrap .skill .graph_wrap .graph{
  border-radius: 20px;
  background: #e8b352;
  width: 100%;
  height: 30px;
}
.first_wrap .skill .graph_wrap .graph span{
  display: inline-block;
  height: 30px;
  background-color: #c41428;
  border-radius: 20px;
  text-align: right;
  line-height: 28px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
}
.second_wrap{
  flex: 0.9;
  margin-left: 100px;
}
.second_wrap .sec_tit{

}
.second_wrap .portfolio{
  display: flex;
  flex-direction: column;
  align-items: center
}
.second_wrap .portfolio .pf_content{
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 20px;
  border: #c41428 solid 3px;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transition: background-color .3s;
  flex-wrap: wrap;
}
.second_wrap .portfolio .pf_content:first-child{
  margin-bottom: 20px;

}
.second_wrap .portfolio .pf_content:last-child{

}
.second_wrap .portfolio .pf_content .img{
  position: absolute;
  width: 150px;
  aspect-ratio: 1.21;
  background: url(../images/bg_pc.png) no-repeat center/contain;
}
.second_wrap .portfolio .pf_content:hover .img{
  display: none;
}
.second_wrap .portfolio .pf_content img{
  width: 150px;
  padding: 4px;
  aspect-ratio: 1.7;
  box-sizing: border-box;
  z-index: -1;
}
.second_wrap .portfolio .pf_content a{
  display: none;
  height: 50px;
  line-height: 50px;
  flex: 1;
  text-align: center;
  background-color: #c41428;
  border-radius: 10px;
}
.second_wrap .portfolio .pf_content a:first-of-type{
  margin-right: 20px;
}
.second_wrap .portfolio .pf_content p{
  display: none;
  flex-basis: 100%;
  text-align: center;
  font-size: 20px;
}
.second_wrap .portfolio .pf_content:hover{
  background: #e8b352;
}
.second_wrap .portfolio .pf_content:hover a{
  display: block;
}
.second_wrap .portfolio .pf_content:hover p{
  display: block;
}
.second_wrap .portfolio .pf_content:hover a:hover{
  background-color: rgba(196, 20, 41, 0.8);
}

@media screen and (max-width: 720px){
  html{
    font-size: 14px;
  }

  .second_wrap{
    margin-left: 30px;
  }
}

@media screen and (max-width: 620px){
  .portfolio_wrap{
    flex-direction: column;
  }
  .first_wrap .skill{
    margin-bottom: 40px;
  }
  .second_wrap{
    margin-left: 0;
  }
}