@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Dongle&family=Jua&family=Nanum+Gothic&display=swap');

/* 
font-family: 'Asap Condensed', sans-serif;
font-family: 'Dongle', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
*/
@media screen and (max-width: 1000px) {
	html{
		font-size: 14px;
	}
}
@media screen and (max-width: 900px) {
	html{
		font-size: 12px;
	}
}

@media screen and (max-width: 800px) {
	html{
		font-size: 12px;
	}
	/* 1. 헤더 영역 */
	header .inner h1 {
		left: 50%;
		transform: translateX(-50%);
	}
	header .inner .gnb,
  header .inner .sns{
		display: none;
	}
	header .inner .mobtn{
		position: absolute;
		left: 30px;
		bottom: 25px;
		display: block;
		font-size: 30px;
		cursor: pointer;
	}
	
	/* 3. 메인 영역 */
	/* 3-1. 컨텐츠1 */
	#content1 .conibx{
		align-items: center;
		flex-direction: column-reverse;
	}
	/* 3-1-1. 패키지 검색 영역 */
	#content1 .package{
		flex:1;
		width:80%;
		margin-top: 40px;
	}
	#content1 .package .pbx .tit{
		font-size: 23px;
	}
	#content1 .package .pbx .tit strong{
		margin-bottom: 20px;
	}
	/* 3-1-2. 슬라이드영역 */
	#content1 .slidebox{
		width:50%;
		flex:1;
		min-width: 300px;
		margin-left: 0;
	}
	#content1 .slidebox .slidewrap .control .prev,
	#content1 .slidebox .slidewrap .control .next{
		display: none;
	}
	#content1 .slidebox .slidewrap .control .pause{
		left: 0;
		border-left: 1px solid #fff;
	}
	#content1 .slidebox i{
		display: block;
		position: absolute;
		top: calc((100vh - 80px) / 4);
		transform: translateY(-50%);
		color:#fff;
		font-size: 100px;
		cursor: pointer;
		z-index: 1;
	}
	#content1 .slidebox .fa-chevron-right{
		right: 30px;
	}
	#content1 .slidebox .fa-chevron-left{
		left: 30px;
	}
	
	/* 3-2. 컨텐츠2 */
	#content2 .recomcont{
		height: 80%;
		flex-direction: column;
		justify-content: center;
		margin-left: 20px;
	}
	#content2 .recomcont .travel{
		flex-direction: row;
		margin-bottom: 10px;
	}

	/* 3-3. 컨텐츠3 */
	#content3 .contwrap{
		flex-direction: column;
	}
	#content3 .contwrap .cont{
		flex-direction: row;
		padding: 20px;
	}
	#content3 .contwrap .topwrap{
		margin-right: 10px;
	}
	#content3 .contwrap .topwrap .conttit{
		margin-bottom: 10px;
	}
	#content3 .contwrap .conttxt .text1{
		margin: 0px;
	}
	#content3 .contwrap .conttxt .text2{
		line-height: 17px;
		margin: 0 0 15px;
	}
	#content3 .contwrap #vd .topwrap .video{
		height: 110px;
		margin: 0 auto;
	}
	#content3 .contwrap #trIn .topwrap .cirImg{
		max-width: 130px;
	}
	
	/* 4. 모바일 메뉴 */
	#mobx{
		position: fixed;
		min-width: 0;
		width: 0px;
		bottom: 0px;
		height: calc(100vh - 80px);
		padding: 20px 0 0;
		border-right: solid 1px #000;
		border-radius: 0 10px 10px 0;
		background-color: #fff;
		z-index: 2;
	}
	#mobx ul li a{
		display: none;
		opacity: 0;
		margin-left: 20px;
		font-family: 'Jua', sans-serif;
		font-size: 23px;
		font-weight: 300;
		line-height: 2;
		color: #000;
	}
	#mobx ul li a:hover{
		color: #5e2bb8;
	}
}

@media screen and (max-width: 500px) {
	.content{
		width: 500px;
	}
}
