@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 10%;

    display: block;
    max-width: 84px;
    padding: 0;
    width: 10%;
    aspect-ratio: 1;


    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    z-index: 2;
}
/* .slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;

}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{

}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;



    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.slick-prev
{
    left: -45px;
    background-color: red;
    background: url(../images/왼쪽버튼.png) no-repeat center/cover;
}
/* [dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
} */

.slick-next
{
    right: -40px;
    background: url(../images/오른쪽버튼.png)no-repeat center/cover;
}
/* [dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
} */

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: relative;

    display: flex;
    
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding: 0;
    /* margin: 0; */

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    display: inline-block;
    margin-left: 8px;
    /* position: relative;

    width: 8px;
    height: 8px;
    padding: 0;
    
    cursor: pointer; */
}

.slick-dots li button
{
    
    font-size: 0;
    line-height: 0;
    display: block;
    
    width: 8px;
    height: 8px;

    padding: 0;
    cursor: pointer;
    
    color: transparent;
    border: 1px solid #ddd;
    outline: none;
    background: #eee; 

    border-radius: 50%;
    transition: width 0.1s;
}
/* .slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 8px;

    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 8px;

    content: '';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
.slick-dots li.slick-active button
{
    border-radius: 4px;
    width: 20px;
    background-color: black;
    border: 1px solid #222;
}
