@charset "utf-8";

@import url(reset.css);
@import url(common.css);
@import url(sub_common.css);

#subCont1{
  background: url(../images/베트남.jpg) no-repeat top/cover;
}
#subCont1 .amt{
  background: linear-gradient(0deg, rgb(14, 106, 2) 0%, rgba(14, 106, 2,0.9) 60%, rgba(255,255,255,0) 100%);
}
#subCont2{
  background-color: rgba(14, 106, 2, 0.6);
}
#subCont3{
  background-color: rgb(14, 106, 2);
}

/* 다낭, 호찌민, 호이안, 하노이2개, 후에  */
#VN-27, #VN-41, #VN-29, #VN-15, #VN-HN, #VN-26
{
  fill: rgb(0, 154, 77);
}
#VN-27:hover, #VN-41:hover, #VN-29:hover, #VN-15:hover, #VN-HN:hover, #VN-26:hover
{
  fill: rgb(0, 96, 50);
}

#tooltip{
  background-color:rgb(14, 106, 2, 0.9);
}