@charset "utf-8";

@media screen and (max-width: 900px){
  #content4 .cat_item li{
    margin: 0 9px;
  }
}

@media screen and (max-width: 720px){
  header .mgnb{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    height: 60px;
  }
  header .mgnb li{
    height: 100%;
    box-sizing: border-box;
  }
  header .mgnb li a{
    padding: 0 5px;
    font-size: 1.2rem;
    line-height: 60px;
    display: inline-block;
  }
  header .mgnb li:hover{
    font-weight: bold;
    border-bottom: 5px solid #fdb812;
  }

  .slick-prev,
  .slick-next{
    display: none !important;
  }
  .slick-dots li button{
    width: 15px;
    height: 15px;
  }
  .slick-dots li.slick-active button{
    width: 35px;
    border-radius: 20px;
  }

  #content1 .main_slide{
    display: none;
  }
  #content1 .main_slide_mobile{
    display: block;
  }
  #content1 .main_slide_mobile li img{
    width: 100%;
  }
  #content1 .main_slide_mobile .slick-list{
    padding: 0;
  }
  #content1 .main_slide_mobile .slick-dots{
    top: -50px;
  }

  .banner img{
    min-height: 50px;
  }

  #content2{
    margin-top: 40px;
    background: none;
  }
  #content2 .recom_slide li .recom_bottom .img img{
    max-width: none;
  }
  #content2 .recom_slide li .recom_bottom .txt{
    margin: 30px;
  }

  #content3{
    margin-top: 40px;
    padding: 0 30px 50px;
  }

  #content3 .populer_slide .tape{
    display: none;
  }

  #content3 .slick-slide:nth-child(odd),
  #content4 .slick-slide:nth-child(odd){
    margin-top: 0px;
  }

  #content4{
    margin-top: 40px;
    background: none;
  }
  #content4 .cat_item{
    overflow-x: scroll;
    overflow-y: hidden;
  }
  #content4 .cat_item li{
    min-width: 60px;
  }

  #content5{
    margin-top: 40px;
    padding: 0;
  }
  #content5 p{
    margin-left: 20px;
  }
  #content5 .review_slide{
    display: none;
  }
  #content5 .review_slide_mobile{
    display: block;
    margin: 32px auto 0;
  }
  #content5 .review_slide_mobile li img{
    width: 100%;
  }
  #content5 .review_slide_mobile .slick-list{
    padding: 0;
  }

  #content6{
    margin: 50px auto 20px;
  }
  #content6 .photo{
    grid-gap: 4px;
  }
}

@media screen and (max-width: 650px){
  #content2 .recom_slide li .recom_bottom .txt{
    margin: 20px;
  }
}

@media screen and (max-width: 540px){
  .content p a::after{
    vertical-align: top;
  }
  #content2, #content4, #content6{
    padding: 0 20px;
  }
  #content3{
    padding: 0 20px 50px;
  }
  
  #content2 .recom_slide li .recom_bottom .txt{
    margin: 10px;
  }

  li .txt3{
    font-size: 13px;
  }

  #content6 .instagram .follow{
    width: 70px;
  }
}