@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 10%;
    display: block;
    max-width: 84px;
    padding: 0;
    width: 10%;
    aspect-ratio: 1;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    z-index: 2;
}
.slick-prev
{
    left: -45px;
    background: url(../images/왼쪽버튼.png) no-repeat center/cover;
}
.slick-next
{
    right: -40px;
    background: url(../images/오른쪽버튼.png)no-repeat center/cover;
}
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots
{
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    display: inline-block;
    margin-left: 8px;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 1px solid #ddd;
    outline: none;
    background: #eee; 
    border-radius: 50%;
    transition: width 0.1s;
}
.slick-dots li.slick-active button
{
    border-radius: 4px;
    width: 20px;
    background-color: black;
    border: 1px solid #222;
}
