@charset "utf-8";

@import url(reset.css);
@import url(common.css);
@import url(sub_common.css);

#subCont1{
  background: url(../images/튀르키예.jpg) no-repeat top/cover;
}
#subCont1 .amt{
  background: linear-gradient(0deg, rgb(181, 116, 116) 0%, rgba(181, 116, 116,0.9) 60%, rgba(255,255,255,0) 100%);
}
#subCont2{
  background-color: rgba(255, 0, 0, 0.6);
}
#subCont3{
  background-color: rgb(181, 116, 116);
}

/* 이스탄불, 카파도키아, 안탈랴, 파묵칼레, 괴레메  */
#TR-34, #TR-50, #TR-07, #TR-20, #TR-35
{
  fill: rgb(231, 0, 0);
}
#TR-34:hover, #TR-50:hover, #TR-07:hover, #TR-20:hover, #TR-35:hover
{
  fill: rgb(120, 0, 0);
}

#tooltip{
  background-color:rgba(181, 116, 116, 0.9);
}