@charset "utf-8";

/* 1. 헤더 영역 */
header{
  position:relative;
	height: 80px;
}

/* 2. 메인 영역 */
/* 2-1. 컨텐츠1 */
#subCont1{
	position: relative;
	margin: 0 auto;
	width:100%;
	max-width: 1300px;
	height: 900px;
}
#subCont1 p{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	top:15%;
	font-size:10rem;
	letter-spacing: 5px;
	font-family: 'Jua', sans-serif;
	color:#fff;
	text-shadow: 0px 0px 10px #777;
	white-space: nowrap;
}
#subCont1 .amt{
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	align-items: flex-end;
	justify-content: space-around;
	padding-bottom: 30px;
}
#subCont1 .amt .amtibx{
	flex: 0.3;
	width: 100%;
	max-width:250px;
	aspect-ratio: 1;
	border-radius: 50%;
	text-align: center;
	padding: 20px;
	transform: transform translateY(20%);
	opacity: 0;
	transition: .8s ease-in-out;
}
#subCont1 .amt .amtibx.on{
	transform: translateY(0);
	opacity: 1;
}
#subCont1 .amt .air{
	background-color: #97c2ec;
}
#subCont1 .amt .month{
	background-color: #b7aae0;
}
#subCont1 .amt .time{
	background-color: #d0ae81;
}
#subCont1 .amt .amtibx i{
	display: block;
	font-size: 2rem;
	margin-bottom: 20px;
}
#subCont1 .amt .amtibx strong{
	display: block;
	font-size: 1.5rem;
	margin-bottom: 30px;
	font-family: 'Nanum Gothic', monospace;
}
#subCont1 .amt .amtibx span{
	display: block;
	font-size: 1.3rem;
	font-family: 'Nanum Gothic', monospace;
}

/* 2-2. 컨텐츠2 */
#subCont2{
	position: relative;
	margin: 0 auto;
	width:100%;
	max-width: 1300px;
	height: 500px;
	padding: 30px 50px;
	display: flex;
}
#subCont2 .txtBx{
	flex: 1;
	margin-right: 20px;
}
#subCont2 .txtBx .tit{
	color: #fff;
	margin-bottom: 20px;
}
#subCont2 .txtBx .tit strong{
	margin-right: 1.5vw;
	font-size: 3rem;
	font-family: 'Jua', sans-serif;
	line-height: 1.3;
	border-bottom: 1px solid #fff;
}
#subCont2 .txtBx .tit span{
	line-height: 2;
	font-size: 2rem;
	font-family: 'Asap Condensed', sans-serif;
}
#subCont2 .txtBx .txt{
	font-size: 1.2rem;
	line-height: 1.4;
	font-family: 'Nanum Gothic', monospace;
}
#subCont2 .svgBx{
	flex: 1;
	position: relative;
}
#subCont2 .svgBx svg{
	position: absolute;
	width: 100%;
	height: 100%;
	fill: #fff;
}

/* 2-3. 컨텐츠3 */
#subCont3{
	margin: 0 auto;
	width:100%;
	max-width: 1300px;
	padding: 20px;
	background-color: rgba(17, 117, 17, 0.76);
}
#subCont3 .areaBx{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 900px;
}
#subCont3 .areaBx span{
	font-family: 'Jua', sans-serif;
	display: block;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	font-size: 2.5rem;
	color:#fff;
}
#subCont3 .areaBx .areaIbx{
	display: flex;
	margin: 30px 0;
	height: 300px;
	align-items: center
}
#subCont3 .areaBx .areaIbx:nth-child(odd){
	flex-direction: row-reverse;
}
#subCont3 .areaBx .areaIbx .img{
	height: 100%;
	flex: 1;
}
#subCont3 .areaBx img{
	width: 100%;
	height: 100%;
}
#subCont3 .areaBx .areaIbx .txtBx{
	height: 90%;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.8);
	flex: 1;
	transform: translateX(0px);
	opacity: 0;
	transition: transform .8s ease-in-out;
}
#subCont3 .areaBx .areaIbx:nth-child(even) .txtBx.on{
	transform: translateX(-20px);
	opacity: 1;
}
#subCont3 .areaBx .areaIbx:nth-child(odd) .txtBx.on{
	transform: translateX(20px);
	opacity: 1;
}
#subCont3 .areaBx .areaIbx .txtBx .tit{
	font-weight: bold;
	font-family: 'Nanum Gothic', monospace;
	margin-bottom: 15px;
	font-size: 1rem;
}
#subCont3 .areaBx .areaIbx .txtBx .txt{
	line-height: 1.3;
	font-family: 'Nanum Gothic', monospace;
	font-size: 0.9rem;
}

/* 4. 툴팁 */
#tooltip{
	display: none;
	position:absolute;
	line-height:12px;
	color:white;
	width:170px;
	border:2px solid white;
	border-radius: 10px;
	padding:15px;
	font-size:12px;
	text-align: center;
	font-family: 'Nanum Gothic', monospace;
}

@media screen and (max-width: 700px) {
	html{
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	html{
		font-size: 13px;
	}
	#subCont1, #subCont2, #subCont3{
		width: 600px;
	}
}